{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="col-lg-offset-3 col-lg-6 text-center">
    <h1 class="">We used... APIs!</h1>
    <img class="img-responsive center-block" src="static/images/tweeter.png">
    <p class="lead">Twitter allowed us to use their service to get the tweets and
    display them on our own website. We could display the tweets in any way we want,
    or do datamining and gain information about people.</p>
  <img class="img-responsive center-block" style="width:200px;" src="static/images/flask.png">
  <p class="lead">Flask is a Python microframework that helps build websites. We used it
  to make the Twitter API calls and handle the HTML pages.</p>
  <img class="img-responsive center-block" style="width:200px;" src="static/images/bootstrap-logo.png">
  <p class="lead">We used Bootstrap to style our webpage. It provides us with predefined styles
    so we can have a nice looking website, with little effort.</p>
  </div>
</div>

{% endblock %}
