{% extends "base.html" %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ username }}'s tweets</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {% for tweet in tweets %}
      <li class="list-group-item">{{ tweet.text }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="col-lg-offset-3 col-lg-6 text-center">
  <h1 class="">How Did We Do This?</h1>
  <a href="/how" class="btn btn-default" role="button">Find Out!</a>
  <div></div>
</div>
{% endblock %}
