{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="col-lg-6">
    <h1 class="">WHAT IS AN APPLICATION PROGRAM INTERFACE (API)</h1>
    <p class="lead">An API is a set of routines, protocols, and tools for building software applications.
      An API specifies how software components should interact. Additionally, APIs are used when
      programming graphical user interface (GUI) components. A good API makes it easier to develop
      a program by providing all the building blocks. A programmer then puts the blocks together.</p>
  </div>
  <div class="col-lg-6">
    <h1 class="text-center">Click here to explore</h1>
    <a href="/twitter"><img class="img-responsive center-block" src="static/images/tweeter.png"></a>
  </div>
</div>
{% endblock %}
